<div>
    <h1>Cadastrar Plantios</h1>
    <form class="containerForm" [formGroup]="formulario">
        <div class="containerInput">
            <label for="data">Data da plantação</label>
            <input formControlName="data" name="data" type="date">    
        </div>
        
        <div class="containerInput">
            <label for="sementes">Quantas sementes</label>
            <input name="sementes" formControlName="sementes" type="number">    
        </div>
        
        <div class="containerInput">
            <label>Qual planta foi plantada</label>
            <select formControlName="planta_id" >
                <option default > Selecione a planta plantada </option>
                <option *ngFor="let plant of plantas" value="{{plant.id}}" >{{plant.nome}}</option>
            </select>
        </div>

        <div class="containerInput">
            <label>Em qual canteiro foi plantada</label>
            <select formControlName='canteiro_id'>
                <option default > Selecione em qual canteiro foi plantada </option>
                <option *ngFor="let plant of canteiros" value="{{plant.id}}" >{{plant.nome}}</option>
            </select>
        </div>

        <div class="containerInput">
            <label>Qual funcionario plantou</label>
            <select formControlName="funcionario_id">
                <option default > Selecione o funcionario que plantou </option>
                <option *ngFor="let plant of funcionarios" value="{{plant.id}}" >{{plant.nome}}</option>
            </select>
        </div>

    </form>
    <button (click)="this.createPlantio()" >Cadastrar</button>
</div> 